<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>PBF 2017 Contest</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <img src="http://www.parisbachatafestival.com/bundles/pbfmain/img/logo.png" alt="PBF" class="img-responsive" />
                    </div>
                    <div class="col-xs-6 col-sm-8 col-lg-10"><h1>2017 Contest</h1></div>
                </div>
            </div>
        </header>
        <main>
            <div id="pbfstart">
                <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></p>
                <p>If you see this message since a couple of minutes, please reload this page</p>
            </div>
            <div id="pbfconnection">
                Who are you ?
                <input id="pbfusername" name="pbfusername" class="form-control" type="text" value="" />
                <button class="btn btn-primary">Connect</button>
            </div>
            <div id="pbfconnectwaiting">
                <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></p>
                <p>Account validation</p>
            </div>
            <div id="pbfcontestwaiting">
                <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></p>
                <p>Contest Waiting</p>
            </div>
            <div id="pbfcandidatewaiting">
                <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></p>
                <p>Candidate waiting</p>
            </div>
            <div id="pbfcandidatevote">
                <h2>PARTICIPANT</h2>
                <h3>UTILIZACIÓN DEL ESPACIO Y PRESENCIA ESCÉNICA</h3>
                <div class="btn-group">
                    <button class="btn btn-default btn-scene">1</button>
                    <button class="btn btn-default btn-scene">2</button>
                    <button class="btn btn-default btn-scene">3</button>
                    <button class="btn btn-default btn-scene">4</button>
                    <button class="btn btn-default btn-scene">5</button>
                    <button class="btn btn-default btn-scene">6</button>
                    <button class="btn btn-default btn-scene">7</button>
                    <button class="btn btn-default btn-scene">8</button>
                    <button class="btn btn-default btn-scene">9</button>
                    <button class="btn btn-default btn-scene">10</button>
                </div>
                <h3>TÉCNICA Y REALIZACIÓN</h3>
                <div class="btn-group">
                    <button class="btn btn-default btn-technic">1</button>
                    <button class="btn btn-default btn-technic">2</button>
                    <button class="btn btn-default btn-technic">3</button>
                    <button class="btn btn-default btn-technic">4</button>
                    <button class="btn btn-default btn-technic">5</button>
                    <button class="btn btn-default btn-technic">6</button>
                    <button class="btn btn-default btn-technic">7</button>
                    <button class="btn btn-default btn-technic">8</button>
                    <button class="btn btn-default btn-technic">9</button>
                    <button class="btn btn-default btn-technic">10</button>
                </div>
                <h3>INTERACCIÓN DE LA PAREJA</h3>
                <div class="btn-group">
                    <button class="btn btn-default btn-couple">1</button>
                    <button class="btn btn-default btn-couple">2</button>
                    <button class="btn btn-default btn-couple">3</button>
                    <button class="btn btn-default btn-couple">4</button>
                    <button class="btn btn-default btn-couple">5</button>
                    <button class="btn btn-default btn-couple">6</button>
                    <button class="btn btn-default btn-couple">7</button>
                    <button class="btn btn-default btn-couple">8</button>
                    <button class="btn btn-default btn-couple">9</button>
                    <button class="btn btn-default btn-couple">10</button>
                </div>
                <h3>INTERPRETACIÓN MUSICAL Y RITMO</h3>
                <div class="btn-group">
                    <button class="btn btn-default btn-music">1</button>
                    <button class="btn btn-default btn-music">2</button>
                    <button class="btn btn-default btn-music">3</button>
                    <button class="btn btn-default btn-music">4</button>
                    <button class="btn btn-default btn-music">5</button>
                    <button class="btn btn-default btn-music">6</button>
                    <button class="btn btn-default btn-music">7</button>
                    <button class="btn btn-default btn-music">8</button>
                    <button class="btn btn-default btn-music">9</button>
                    <button class="btn btn-default btn-music">10</button>
                </div>
                <h3>BACHATA DOMINICAN STYLE</h3>
                <div class="btn-group">
                    <button class="btn btn-default btn-style">1</button>
                    <button class="btn btn-default btn-style">2</button>
                    <button class="btn btn-default btn-style">3</button>
                    <button class="btn btn-default btn-style">4</button>
                    <button class="btn btn-default btn-style">5</button>
                    <button class="btn btn-default btn-style">6</button>
                    <button class="btn btn-default btn-style">7</button>
                    <button class="btn btn-default btn-style">8</button>
                    <button class="btn btn-default btn-style">9</button>
                    <button class="btn btn-default btn-style">10</button>
                </div>
            </div>
        </main>
        <footer>
            <!--Choose language : English - Français - Español-->
        </footer>

        <style>
            body {
                background-color: #53407b;
                background-image: linear-gradient(#53407b, #15132b);
                background-attachment: fixed;
                background-repeat: no-repeat;
                height: 100%;
                min-height: 100%;
                font-family: Roboto, sans-serif;
                color: #FFFFFF;
                text-align: center;
            }
            header {
                background-color: rgba(0,0,0,0.5);
                border: none;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
                font-size: 22px;
                line-height: 23px;
                text-align: center;
                min-height: 60px;
                max-height: 100px;
            }

            header img {
                max-height: 95px;
                margin: 0px 0px 5px 0px;
            }

            header h1 {
                font-size: 22px;
                line-height: 23px;
                text-align: center;
            }
            main {
                margin: 0px;
                padding: 10px 0px 10px 0px;
            }
            main div {
                display: none;
            }
            main div:first-child {
                display: block;
            }
        </style>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Handlebars -->
        <script src="{{ asset("/bower/handlebars/handlebars.min.js") }}"></script>
        <!-- Socket.IO (necessary for voting) -->
        <script src="{{ app.request.getSchemeAndHttpHost() }}:8080/socket.io/socket.io.js"></script>

        <script>
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
            }

            function showBox(idBox) {
                $("main > div").hide();
                $(idBox).show();
            }

            $(function(){
                    var socket      = io("{{ app.request.getSchemeAndHttpHost() }}:8080");
                    var pbfUsername = null;
                    
                    var pbfCandidateVoteContent = $("#pbfcandidatevote").html();

                    var sessionUsername = getCookie("pbfusername");
                    $("#pbfusername").val(sessionUsername);
                    if (sessionUsername != "") {
                        pbfUsername = sessionUsername;
                        showBox("#pbfconnectwaiting");
                        socket.emit("voteConnect", pbfUsername);
                    }
                    showBox("#pbfconnection");
                    $("#pbfusername").on("change", function(e){
                        $("#pbfusername").val($("#pbfusername").val().toLowerCase());
                    });
                    $("#pbfusername").on("keydown", function(e){
                        if (e.keyCode < 65 || e.keyCode > 90) {
                            e.preventDefault();
                        }
                    });

                    socket.on("voteWhoAreYou", function(){
                            if (pbfUsername !== null) {
                                socket.emit("voteConnect", pbfUsername);
                            }
                    });

                    socket.on("voteInfos", function (dataInfos) {

                            if (pbfUsername in dataInfos.voters.nopending) {

                                switch (dataInfos.currenttab) {
                                    case "candidatedance":
                                    case "candidatevote":
                                        showBox("#pbfcandidatevote");
                                        $("#pbfcandidatevote h2").html(dataInfos.candidate.name);
                                        break;
                                    case "contest":
                                        $("#pbfcandidatewaiting h3").html(dataInfos.contest.name);
                                        showBox("#pbfcandidatewaiting");
                                        $("#pbfcandidatevote .btn")
                                            .removeClass("btn-default")
                                            .removeClass("btn-primary")
                                            .addClass("btn-default");
                                        break;
                                    case "wait":
                                    default:
                                        $("#pbfcandidatevote").html(pbfCandidateVoteContent);
                                        showBox("#pbfcontestwaiting");
                                }
                            }
                    });

                    $("main").on("click", "#pbfconnection button", function(e){
                            e.preventDefault();
                            pbfUsername = $("#pbfusername").val();
                            setCookie("pbfusername", pbfUsername, 10);
                            showBox("#pbfconnectwaiting");
                            socket.emit("voteConnect", pbfUsername);
                    });

                    $("main").on("click", ".btn-scene", function(e){
                        e.preventDefault();
                        $(".btn-scene").removeClass("btn-primary");
                        $(this).addClass("btn-primary");

                        var dataVote = {
                            type: "scene",
                            score: $(this).html(),
                            username: pbfUsername,
                        }
                        socket.emit("voteVote", dataVote);
                    });

                    $("main").on("click", ".btn-technic", function(e){
                        e.preventDefault();
                        $(".btn-technic").removeClass("btn-primary");
                        $(this).addClass("btn-primary");

                        var dataVote = {
                            type: "technic",
                            score: $(this).html(),
                            username: pbfUsername,
                        }
                        socket.emit("voteVote", dataVote);
                    });

                    $("main").on("click", ".btn-couple", function(e){
                        e.preventDefault();
                        $(".btn-couple").removeClass("btn-primary");
                        $(this).addClass("btn-primary");

                        var dataVote = {
                            type: "couple",
                            score: $(this).html(),
                            username: pbfUsername,
                        }
                        socket.emit("voteVote", dataVote);
                    });

                    $("main").on("click", ".btn-music", function(e){
                        e.preventDefault();
                        $(".btn-music").removeClass("btn-primary");
                        $(this).addClass("btn-primary");

                        var dataVote = {
                            type: "music",
                            score: $(this).html(),
                            username: pbfUsername,
                        }
                        socket.emit("voteVote", dataVote);
                    });

                    $("main").on("click", ".btn-style", function(e){
                        e.preventDefault();
                        $(".btn-style").removeClass("btn-primary");
                        $(this).addClass("btn-primary");

                        var dataVote = {
                            type: "style",
                            score: $(this).html(),
                            username: pbfUsername,
                        }
                        socket.emit("voteVote", dataVote);
                    });
            });
        </script>
    </body>
</html>