<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>PBF 2017 Contest</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <p id="pbfContest">CONTEST<br /><span id="pbfContestName"></span></p>
        <p id="pbfNowOnStage">
            NOW ON STAGE<br />
            <span id="pbfNowCandidate"></span>
        </p>
	<div id="pbfNowVoting">
            NOW VOTING FOR <span id="pbfNowVoteCandidate"></span>
            <div class="container-fluid">
                <div class="row">
                </div>
            </div>
	</div>
        <div id="pbfNowResult">
            NOTE FOR <span id="pbfNowResultCandidate"></span><br />
            <span id="pbfNowResultNote"></span>
        </div>
        <div id="pbfNowPodium">
            <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="row" id="podiumList">
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>

        <style>
            body {
                background-color: #FF00FF;
                color: #FFFFFF;
            }
            #pbfContest {
                position: absolute;
                top: 100px;
                left: 0px;
                right: 0px;
                font-size: 55px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
            #pbfNowOnStage {
                position: absolute;
                top: 800px;
                left: 0px;
                right: 0px;
                font-size: 55px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
            
            .voter {
                font-size: 30px;
            }
            
            #pbfNowVoting {
                position: absolute;
                top: 800px;
                left: 0px;
                right: 0px;
                font-size: 55px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
            #pbfNowResultNote {
                font-size: 110px;
            }
            
            #pbfNowResult {
                position: absolute;
                top: 800px;
                left: 0px;
                right: 0px;
                font-size: 55px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
            
            #pbfNowPodium {
                position: absolute;
                top: 800px;
                left: 0px;
                right: 0px;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
            .podiumBox {
                height: 70px;
            }
            .podiumPlace {
                position: absolute;
                left: 30px;
            }
            .podiumName {
                padding: 0px 70px 0px 50px;
            }
            .podiumNote {
                position: absolute;
                right: 30px;
            }
            
            
            #pbfNowVoting i {
                font-size: 80px;
            }
            #pbfNowOnStage img {
                width: 150px;
            }
            .text-green {
                color: #00A65A;
            }
            .text-yellow {
                color: #F39C12;
            }
            .text-red {
                color: #DD4B39;
            }
        </style>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Handlebars -->
        <script src="{{ asset("/bower/handlebars/handlebars.min.js") }}"></script>
        <!-- Socket.IO (necessary for voting) -->
        <script src="{{ app.request.getSchemeAndHttpHost() }}:8080/socket.io/socket.io.js"></script>

        <script>
            var pageWidth  = null;
            var pageHeight = null;

            setInterval(function(){$(".sf-toolbarreset").hide();}, 50);

            function refreshStyle()
            {
                pageWidth  = $(window).width();
                pageHeight = $(window).height();

                $("#pbfLogo")
                    .css("width", (pageWidth / 2) + "px");
                ;
            }

            $(function(){
                    $("#pbfNowOnStage").hide();
                    $("#pbfNowVoting").hide();
                
                    setInterval(function(){ refreshStyle() }, 500);

                    var socket      = io("{{ app.request.getSchemeAndHttpHost() }}:8080");

                    socket.on("voteInfos", function (dataInfos) {
                            console.log(dataInfos);
                                switch (dataInfos.currenttab) {
                                    case "candidatepodium":
                                        $("#pbfNowOnStage").hide();
                                        $("#pbfNowVoting").hide();
                                        $("#pbfNowResult").hide();
                                        $("#pbfNowPodium").show();
                                        var finalNotes = [];
                                        $.each(dataInfos["contestCandidates"][dataInfos.contest.slug], function(candidateIndex, candidateValue){
                                            finalNotes.push({"name": candidateValue.name, "note": candidateValue.notes.full.total});
                                        });
                                        finalNotes.sort(function(a, b){
                                            return a.note-b.note;
                                        });
                                        $("#podiumList").html("");
                                        $.each(finalNotes, function(finalNoteIndex, finalNoteValue){
                                            var podiumAppend = "";
                                            podiumAppend     = podiumAppend + "<div class=\"col-xs-4 col-sm-4 col-md-4 col-lg-4 podiumBox\">";
                                            podiumAppend     = podiumAppend + "<span class=\"podiumPlace\">" + (finalNotes.length - finalNoteIndex) + "</span>";
                                            podiumAppend     = podiumAppend + "<span class=\"podiumNote\">" + finalNoteValue.note + "</span>";
                                            podiumAppend     = podiumAppend + "<span class=\"podiumName\">" + finalNoteValue.name + "</span>";
                                            podiumAppend     = podiumAppend + "</div>";
                                            $("#podiumList").prepend(podiumAppend);
                                        });
                                        console.log(finalNotes);
                                        break;
                                    case "candidateresult":
                                        $("#pbfNowOnStage").hide();
                                        $("#pbfNowVoting").hide();
                                        $("#pbfNowResult").show();
                                        $("#pbfNowPodium").hide();
                                        $("#pbfNowResultCandidate").html(dataInfos.candidate.name);
                                        $("#pbfNowResultNote").html(dataInfos["contestCandidates"][dataInfos.contest.slug][dataInfos.candidate.slug]["notes"]["full"]["total"]);
                                        console.log("titi");
                                        break;
                                    case "candidatevote":
                                        $("#pbfNowOnStage").hide();
                                        $("#pbfNowVoting").show();
                                        $("#pbfNowResult").hide();
                                        $("#pbfNowPodium").hide();
                                        $("#pbfContestName").html(dataInfos.contest.name);
                                        $("#pbfNowVoteCandidate").html(dataInfos.candidate.name);
                                        var voters      = dataInfos["voters"]["nopending"];
                                        $("#pbfNowVoting .row").html("");
                                        if (voters.length == 1) {
                                            $("#pbfNowVoting .row").append("<div class=\"col-xs-5 col-sm-5 col-md-5 col-lg-5\"></div>");
                                        }
                                        $.each(voters, function(voterSlug, voterValue){
                                            console.log("voterValue", voterValue);
                                            var appendText = "<div id=\"voter_" + voterValue.username + "\" class=\"col-xs-2 col-sm-2 col-md-2 col-lg-2 voter\">";
                                                appendText = appendText + voterValue.displayname + "<br />";
                                                appendText = appendText + "<i id=\"vote_" + voterValue.username + "\" class=\"fa fa-times-circle-o text-red\"></i>";
                                                appendText = appendText + "</div>";
                                            $("#pbfNowVoting .row").append(appendText);
                                        });
                                        if ($("#pbfNowVoting .row .voter").length >= 1 && $("#pbfNowVoting .row .voter").length <= 5) {
                                            var addcol = 6 - $("#pbfNowVoting .row .voter").length;
                                            $("#pbfNowVoting .row").prepend("<div class=\"col-xs-" + addcol + " col-sm-" + addcol + " col-md-" + addcol + " col-lg-" + addcol + " voter\"></div>");
                                        }
                                        console.log($("#pbfNowVoting .row .voter").length);
                                        var votingNotes = dataInfos["contestCandidates"][dataInfos.contest.slug][dataInfos.candidate.slug]["notes"];
                                        $.each(votingNotes, function(voterSlug, voterValue){
                                            var idVote = "#vote_" + voterSlug;
                                            var voteClass = "fa fa-times-circle-o text-red";
                                            var voteLocalTotal = voterValue.couple + voterValue.music + voterValue.scene + voterValue.style + voterValue.technic;
                                            var voteDistTotal  = voterValue.total;
                                            if (voteLocalTotal > 0 && voteDistTotal == 0) {
                                                voteClass = "fa fa-question-circle-o text-yellow";
                                            } else if (voteLocalTotal > 0 && voteDistTotal > 0) {
                                                voteClass = "fa fa-check-circle-o text-green";
                                            } else {
                                                voteClass = "fa fa-times-circle-o text-red";
                                            }
                                            $(idVote).attr("class", voteClass);
                                        });
                                        console.log(votingNotes);
                                        break;
                                    case "candidatedance":
                                        $("#pbfNowOnStage").show();
                                        $("#pbfNowVoting").hide();
                                        $("#pbfNowResult").hide();
                                        $("#pbfNowPodium").hide();
                                        $("#pbfContestName").html(dataInfos.contest.name);
                                        $("#pbfNowCandidate").html(dataInfos.candidate.name);
                                        $("#pbfNowOnStage img").attr("src", "/bower/flag-icon-css/flags/4x3/" + dataInfos.candidate.country + ".svg")
                                        break;
                                    case "contest":
                                        $("#pbfContestName").html(dataInfos.contest.name);
                                        $("#pbfNowVoting").hide();
                                        $("#pbfNowOnStage").hide();
                                        $("#pbfNowResult").hide();
                                        $("#pbfNowPodium").hide();
                                        break;
                                    case "wait":
                                        $("#pbfContestName").html("");
                                        $("#pbfNowVoting").hide();
                                        $("#pbfNowOnStage").hide();
                                        $("#pbfNowResult").hide();
                                        $("#pbfNowPodium").hide();
                                    default:
                                }
                    });
            });
        </script>
    </body>
</html>
