setInterval(function(){
        var getInfosCmd = "{{ phpCliPath }} bin/console iimedias:vote:infos";
        {#console.info("[Vote][GetInfos] Get informations of vote");#}
        {#console.log("[Vote][GetInfos] " + getInfosCmd);#}
        exec(getInfosCmd, function (error, stdout, stderr) {
                {#console.log("[Vote][GetInfos]" + stdout);#}
                if (error !== null) {
                    {#console.warn("S.IO PBF", error);#}
                }
                if (stderr !== null && stderr != "") {
                    {#console.error("[Vote][GetInfos]" + stderr);#}
                }
                if (ioServer != null) {
                    if (typeof settings !== 'undefined' && settings !== null &&
                        typeof settings.sockets !== 'undefined' && settings.sockets !== null &&
                        typeof settings.sockets["ioServer"] !== 'undefined' && settings.sockets["ioServer"] !== null)
                    settings.sockets["ioServer"].sockets.emit("voteInfos", JSON.parse(stdout));
                }
        });
}, 500);
