socket.on("voteConnect", function(dataUsername) {
        voteUsername = dataUsername;
        var voteConnectCmd = "{{ phpCliPath }} bin/console iimedias:vote:connect " + dataUsername;
        console.info("[Vote][Connect] Un jury est connecté en tant que " + dataUsername);
        console.log("[Vote][Connect] " + voteConnectCmd);
        exec(voteConnectCmd, function (error, stdout, stderr) {
                if (stdout == 0) {
                    socket.emit("voteWhoAreYou");
                }
                console.log("[Vote][Connect]" + stdout);
                if (error !== null) {
                    console.warn("[Vote][Connect]" + error);
                }
                if (stderr !== null && stderr != "") {
                    console.error("[Vote][Connect]" + stderr);
                }
        });
});
