socket.on("disconnect", function() {
        console.info("[Vote][Disconnect] Un utilisateur s'est déconnecté (" + voteUsername + ")");
        exec("{{ phpCliPath }} bin/console iimedias:vote:disconnect " + voteUsername, function (error, stdout, stderr) {
            console.log("[Vote][Disconnect] " + stdout);
            if (error !== null) {
                console.warn("[Vote][Disconnect] " + error);
            }
            if (stderr !== null && stderr != "") {
                console.error("[Vote][Disconnect] " + stderr);
            }
        });
});