socket.on("voteVote", function(dataVote){
        console.info("[Vote][Vote]" + JSON.stringify(dataVote));
        exec("{{ phpCliPath }} bin/console iimedias:vote:vote " + voteUsername + " " + dataVote.type + " " + dataVote.score, function (error, stdout, stderr) {
            if (stdout == 0) {
                socket.emit("voteWhoAreYou");
            }
            console.log("[Vote][Vote]" + stdout);
            if (error !== null) {
                console.warn("[Vote][Vote]" + error);
            }
            if (stderr !== null && stderr != "") {
                console.error("[Vote][Vote]" + stderr);
            }
        });
});
