{% extends "PBFVoteBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("pbf_vote_admin_editvoter", {voterId: voter.id}) }}">Edition de {{ voter.username }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock content %}