{% extends "PBFVoteBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    {% if mode == "create" %}
    <li><a href="{{ path("pbf_vote_admin_createcontest") }}">Ajout d'un concours</a></li>
    {% else %}
    <li><a href="{{ path("pbf_vote_admin_editcontest", {contestId: contest.id}) }}">Ajout d'un concours</a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form, {attr: {class: "form-horizontal"}}) }}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% if mode == "create" %}Ajout d'un candidat{% else %}Edition du concours #{{ contest.id }} : "{{ contest.name }}"{% endif %}</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.name, "Nom affiché", {label_attr: {class: "col-xs-3 col-sm-2 col-md-2 col-lg-1 control-label"}}) }}
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
                        {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.candidate_list, "Nom affiché", {label_attr: {class: "col-xs-3 col-sm-2 col-md-2 col-lg-1 control-label"}}) }}
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
                        {{ form_widget(form.candidate_list, {attr: {class: "form-control"}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.enable, "Autoriser", {label_attr: {class: "col-xs-3 col-sm-2 col-md-2 col-lg-1 control-label"}}) }}
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
                        {{ form_widget(form.enable, {attr: {class: "form-control"}}) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ path("iimedias_vote_admin_index") }}" class="btn btn-default">Annuler</a>
                {{ form_widget(form.submit, {attr: {class: "btn btn-primary pull-right"}}) }}
            </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset("/bower/select2/dist/css/select2.min.css") }}" rel="stylesheet" />
{% endblock styles %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset("/bower/select2/dist/js/select2.full.min.js") }}"></script>
    <script>
        $(function(){
            $("select").select2();
        });
    </script>
{% endblock scripts %}
