{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_vote_admin_index") }}"><i class="fa fa-address-book-o" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.pbfvote.index.breadcrumb" | trans }}</span></a></li>
{% endblock breadcrumb %}

{% block content %}
{% if currentContest is not null %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Concours en cours : {{ currentContest.name }}</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <a href="{{ path("iimedias_vote_admin_contestcandidateaction", {contestCandidateId: 0, mode: "dance"}) }}" class="btn btn-primary"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                    <a href="{{ path("iimedias_vote_admin_startstopcontest", {contestId: currentContest.id, mode: "stop"}) }}" class="btn btn-danger"><i class="fa fa-stop" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">Jurés <i class="fa fa-arrow-right" aria-hidden="true"></i><br />Participants <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
    {% for voter in voters %}
                        <th colspan="6">{{ voter.displayName }}</th>
    {% endfor %}
                        <th rowspan="2">Note</th>
                    </tr>
                    <tr>
    {% for voter in voters %}
                        <th>S</th>
                        <th>T</th>
                        <th>I</th>
                        <th>M</th>
                        <th>B</th>
                        <th>=</th>
    {% endfor %}
                    </tr>
                </thead>
                <tbody>
    {% for contestCandidate in contestCandidates %}
                    <tr>
                        <th>
                            <div class="btn-group">
                                <a href="{{ path("iimedias_vote_admin_contestcandidateaction", {contestCandidateId: contestCandidate.id, mode: "dance"}) }}" class="btn btn-primary"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                                <a href="{{ path("iimedias_vote_admin_contestcandidateaction", {contestCandidateId: contestCandidate.id, mode: "vote"}) }}" class="btn btn-info"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>
                                <a href="{{ path("iimedias_vote_admin_contestcandidateaction", {contestCandidateId: contestCandidate.id, mode: "results"}) }}" class="btn btn-success"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
                                <a href="{{ path("iimedias_vote_admin_contestcandidateaction", {contestCandidateId: contestCandidate.id, mode: "sort"}) }}" class="btn btn-warning"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                            {{ contestCandidate.candidate.name }}
                        </th>
    {% for voter in voters %}
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_scene" class="fa fa-times-circle-o text-red"></i></td>
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_technic" class="fa fa-times-circle-o text-red"></i></td>
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_couple" class="fa fa-times-circle-o text-red"></i></td>
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_music" class="fa fa-times-circle-o text-red"></i></td>
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_style" class="fa fa-times-circle-o text-red"></i></td>
                        <td><i id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_{{ voter.slug }}_total" class="fa fa-times-circle-o text-red"></i></td>
    {% endfor %}
                        <td id="vote_{{ currentContest.slug }}_{{ contestCandidate.candidate.slug }}_final_note">0</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <i class="fa fa-chevron-circle-right"></i> Lancer Participant -
            <i class="fa fa-envelope-open-o"></i> Lancer Vote -
            <i class="fa fa-bar-chart"></i> Afficher Résultat -
            <i class="fa fa-bars"></i> Trier les résultats -
            <i class="fa fa-desktop"></i> Vider l'écran -
            <i class="fa fa-stop"></i> Arrêter le concours
        </div>
    </div>
{% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <b>Jurés</b>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <a href="#" class="btn btn-default btn-lg disabled pull-right"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="votersOnline"></div>
                    <div id="votersOffline"></div>
                    <div id="votersPending"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Participants</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path("iimedias_vote_admin_createcandidate") }}" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
{% for candidate in candidates %}
    {% if candidate.enable %}
                        <li>
                            <a href="{{ path("iimedias_vote_admin_editcandidate", {candidateId: candidate.id}) }}">
{#                                <img src="{{ asset("bower/AdminLTE/dist/img/avatar5.png") }}" alt="User Image" />#}
                                <img src="{{ asset("candidate/candidate_" ~ candidate.id ~ ".png") }}" alt="User Image" />
                            </a>
                            <a class="users-list-name" href="{{ path("iimedias_vote_admin_editcandidate", {candidateId: candidate.id}) }}">
                            {{ candidate.name }} <span class="flag-icon flag-icon-{{ candidate.country | lower }}"></span>
                            </a>
                        </li>
    {% endif %}
{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Concours</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path("iimedias_vote_admin_createcontest") }}" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
{% for contest in contests %}
                            <tr>
                                <td>{{ contest.id }}</td>
                                <td>{{ contest.name }}</td>
                                <td>{% if contest.current %}<span class="badge bg-green">En cours</span>{% else %}<span class="badge bg-red">Arrêté</span>{% endif %}</td>
                                <td>
                                    <div class="btn-group">
    {% if contest.current %}
                                        <a href="{{ path("iimedias_vote_admin_startstopcontest", {contestId: contest.id, mode: "stop"}) }}" class="btn btn-danger"><i class="fa fa-stop" aria-hidden="true"></i></a>
    {% else %}
                                        <a href="{{ path("iimedias_vote_admin_startstopcontest", {contestId: contest.id, mode: "start"}) }}" class="btn btn-success{% if not contest.enable or currentContest is not null %} disabled{% endif %}"><i class="fa fa-play" aria-hidden="true"></i></a>
    {% endif %}
                                        <a href="{{ path("iimedias_vote_admin_editcontest", {contestId: contest.id}) }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <i class="fa fa-play" aria-hidden="true"></i> Lancer - <i class="fa fa-stop" aria-hidden="true"></i> Stopper - <i class="fa fa-pencil" aria-hidden="true"></i> Editer
                </div>
            </div>
        </div>
    </div>

    <script id="tplPbfVoter" type="text/x-handlebars-template">
        <div id="pbfvoter{{ "{{{id}}}" }}" class="pbfvoter pbfvoter{{ "{{{status}}}" }}">
            <a href="{{ path("iimedias_vote_admin_editvoter", {"voterId": 0}) }}" class="btn btn-default btn-lg pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            {{ "{{{displayname}}}" }}<br />
            <span class="flag-icon flag-icon-{{ "{{{country}}}" }}"></span>
            [{{ "{{{username}}}" }}]
        </div>
    </script>
{% endblock content %}

{% block styles %}
    {{ parent() }}
    <style>
        table thead th {
            text-align: center;
            padding: 8px 0px !important;
        }
        table tbody td {
            text-align: center;
            padding: 8px 0px !important;
            vertical-align: middle;
        }
        .panel .panel-heading b {
            font-size: 25px;
        }
        .pbfvoter {
            margin: 0px 0px 10px 0px;
            padding: 10px;
            border-radius: 5px;
            background-color: pink;
            min-height: 65px;
        }
        .pbfvoter.pbfvoteronline {
            background-color: #81F79F;
        }
        .pbfvoter.pbfvoteroffline {
            background-color: #FA5858;
        }
        .pbfvoter.pbfvoterpending {
            background-color: #AAAAAA;
        }
        .pbfcandidate {
            margin: 0px 0px 10px 0px;
            padding: 10px;
            border-radius: 5px;
            background-color: pink;
            min-height: 65px;
        }
        .pbfcandidate.pbfcandidateonline {
            background-color: #EEEEEE;
        }
        .pbfcandidate.pbfcandidateoffline {
            background-color: #666666;
        }
        .pbfcontest {
            margin: 0px 0px 10px 0px;
            padding: 10px;
            border-radius: 5px;
            background-color: pink;
            min-height: 65px;
        }
        .pbfcontest.pbfcontestcurrent {
            background-color: #81F79F;
        }
        .pbfcontest.pbfcontestonline {
            background-color: #EEEEEE;
        }
        .pbfcontest.pbfcontestoffline {
            background-color: #666666;
        }
    </style>
{% endblock styles %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset("/bower/handlebars/handlebars.min.js") }}"></script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}:8080/socket.io/socket.io.js"></script>
    <script>
        $(function(){
                if ($("script#tplPbfVoter").length > 0) {
                    var socket = io("{{ app.request.getSchemeAndHttpHost() }}:8080");
                    var tplPbfVoter = Handlebars.compile($("script#tplPbfVoter").html());
                    socket.on("voteInfos", function (dataInfos) {
                        console.log(dataInfos);
                        /* Votants */
                        $("#votersOnline").html("");
                        $("#votersOffline").html("");
                        $("#votersPending").html("");
                        $.each(dataInfos.voters.online, function (index, value) {
                            value.status = "online";
                            $("#votersOnline").html($("#votersOnline").html() + tplPbfVoter(value));
                            $("#pbfvoter" + value.id + " a").attr("href", $("#pbfvoter" + value.id + " a").attr("href").replace("0", value.id));
                        });
                        $.each(dataInfos.voters.offline, function (index, value) {
                            value.status = "offline";
                            $("#votersOffline").html($("#votersOffline").html() + tplPbfVoter(value));
                            $("#pbfvoter" + value.id + " a").attr("href", $("#pbfvoter" + value.id + " a").attr("href").replace("0", value.id));
                        });
                        $.each(dataInfos.voters.pending, function (index, value) {
                            value.status = "pending";
                            $("#votersPending").html($("#votersPending").html() + tplPbfVoter(value));
                            $("#pbfvoter" + value.id + " a").attr("href", $("#pbfvoter" + value.id + " a").attr("href").replace("0", value.id));
                        });
                        $.each(dataInfos.contestCandidates, function (contestSlug, contestValue) {
                            $.each(contestValue, function(candidateSlug, candidateValue){
                                $.each(candidateValue.notes, function(voterSlug, voterValue){
                                    $.each(voterValue, function (scoreSlug, scoreValue){
                                        if (voterSlug === "full") {
                                            if (scoreSlug === "total") {
                                                var idVote = "#vote_" + contestSlug + "_" + candidateSlug + "_final_note";
                                                $(idVote).html(scoreValue);
                                                console.log(idVote + " " + scoreSlug + " " + scoreValue);
                                            }
                                            
                                        } else {
                                            var idVote = "#vote_" + contestSlug + "_" + candidateSlug + "_" + voterSlug + "_" + scoreSlug;
                                            var voteImg = "{{ asset("/bower/fatcow-icons/icons/16px/radio_button.png") }}";
                                            var voteClass = "fa fa-times-circle-o text-red";
                                            if (scoreValue > 0 && scoreSlug == "total") {
                                                voteImg = "{{ asset("/bower/fatcow-icons/icons/16px/tick_button.png") }}";
                                                voteClass = "fa fa-question-circle-o text-yellow";
                                            } else if (scoreValue > 0) {
                                                voteImg = "{{ asset("/bower/fatcow-icons/icons/16px/tick.png") }}";
                                                voteClass = "fa fa-check-circle-o text-green";
                                            } else {
                                                voteImg = "{{ asset("/bower/fatcow-icons/icons/16px/radio_button.png") }}";
                                                voteClass = "fa fa-times-circle-o text-red";
                                            }
                                            $(idVote).attr("class", voteClass);
                                        }
                                    });
                                });
                            });
                        });
                    });
                }
        });
    </script>
{% endblock scripts %}
